/* CUERPO */

.contenedor-principal {
background-image:url("../imagenes//fondo.jpg") ; 
background-size: contain;
background-attachment: fixed;


}
.cabecera {
background-color:rgba(255,204,204,0.8);

}

.titulo-cabecera {
text-align: right;
font-family: courier;

}

.subtitulo-cabecera {
text-align: right;
font-family: arial;
font-size: 1em;
}

.contenedor {
background-color:rgba(204,204,255,0.5);
}

.panel {
background-color:rgba(204,204,255,0.6) ;

}

.contenidos{
background-color:rgba(255,255,255,0.6) ;
}

.buscador {
border-style: solid;
border-width: 1px;
border-color: rgba(0,0,0,0.2);
padding: 5px 5px 5px 5px;
}

.navegador {
border-style: solid;
border-width: 1px;
border-color: rgba(0,0,0,0.2);
padding: 5px 5px 5px 5px;
}

.favoritos {
border-style: solid;
border-width: 1px;
border-color: rgba(0,0,0,0.2);
padding: 5px 5px 5px 5px;

}
.imagen-favoritos {
width: 100%;

}
.historial {
border-style: solid;
border-width: 1px;
border-color: rgba(0,0,0,0.2);
padding: 5px 5px 5px 5px;
}

.entrada-blog {
border-style: solid;
border-width: 1px;
border-color: rgba(0,0,0,0.2);
/*padding: 5px 5px 5px 5px;*/
}
.titulo-entrada-blog {
font-family: sans-serif;
font-style: normal;
font-size: 2em;
}

.imagen-entrada-blog {
width: 100%;
}

.texto-entrada-blog {
text-align: justify;
}
.comentarios {
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: rgba(0,0,0,0.2);
padding: 5px 5px 5px 5px;
}

.comentario-entrada {
border-style: solid;
border-width: 1px;
border-color: rgba(0,0,0,0.2);

}

.comentario-historico {

margin: 3px 3px 3px 3px;
}


.username {
font-size: 0.7em;
font-weight: bold;
}

.fecha {
font-size: 0.7em;

}